@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@700&family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: Encode Sans Expanded;
  margin:0
}
/* ::-webkit-scrollbar {
  display: none;
} */


.differnetFont{
  font-family: Leckerli One

}

.custom-input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  /* border-radius: 30%; */
  margin: 0 0 13px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
}

#banner {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
}
#topsection {
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#bannertext1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
  padding-left:20px; 
  padding-top:20px;
  overflow-x: hidden;
}

.para{
  font-weight: 500;
  margin-top: 25px;
}

.featureButtonwrapper{
  margin-top:25px;
  justify-content: space-between;
}





#topsection::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  padding-top:20px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

#topsectionaboutus::after{
  content: '';
  position: absolute;
  left: 0;
  padding-top:20px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.fetaureTicketButton{
  display: flex;
  height: 63px;
  border:none;
  border-radius:64px;
  padding:0px 15px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top:20px;

}

.featuredButton{
  background-color: white;
  width:100%;
  padding:10px;
  border-radius: 15px;
  align-items: center;
  font-size:14px;
}


.card-item{
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.card-item:hover{
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
}



.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #6c757d #f8f9fa;
  outline: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display:none
}

.togglebtn::after{
  content: "..."; /* Display ellipsis content */
  position: absolute;
  right: 10;
  background: linear-gradient(to right, transparent, white); /* Gradient background to blend ellipsis */
  pointer-events: none; /* Ignore mouse events on the ellipsis */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

.heroEve .carousel-inner{
  height:60vh;
}

.carouselUpcoming .carousel-inner{
  height: 60vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.iconholder{
  background-color: #BFDAF758;
  border-radius: 10px;
  margin-right: 5px;
}

.featuredcard{
  background: #BFDAF758;
  padding:20px;

  border-radius: 20px;
  margin-top:20px;
  width:90%;
}

.buttontext{
  margin-left:5px
}


.speccard{
  background: #BFDAF756;
  padding:2px;
  border-radius: 20px;
  margin-right:20px;
  width:100%;
  flex: 0 0 27rem;
  box-sizing: border-box;
}


.specseatf{
  font-size: 12px;
}

.speceventf{
  font-size: 12px;
}

.featuredImage{
  width:100%;
  height: 100%;
  object-fit:cover;
  border-radius: 15px;
  margin-right: 20px
}

.imagewrapper {
  height:13.7rem;
  margin-right:10px
}

#specevent{
  display:flex
}

.specimgwrap{
  height:13.7rem
}

.featuredHeading{
  font-size:23px;
  letter-spacing:2px;
  font-weight:800;
  width:100%;
} 

.featuredPrice{
  font-size: 14px;
}

.feturedCardtop{
  width:100%;
  justify-content: space-between;
}
.featuredPrice{
  font-weight:600
}

.featuredCard{
  display:flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.speceventsContainer{
  display:flex;
  margin-top: 20px;
}
#bannertext2{
  position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); 
}
#bannertext1, #bannertext2 {
    z-index: 1;
    color: white;
    font-size: 3rem;
    font-family: kavoon;
}

.heading{
  position:relative;
  margin: 10px 0px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.heading::after{
  content: "";
  position: absolute;
  bottom: 0;
  left:0;
  width:90px;
  height: 3px;
  border-radius: 20px;
  background-color: #BFDAF7;
}

.subheading{
  color: #BFDAF7;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.active-nav{
  display: block !important;
}

.active-nav *{
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .nav-btn{
    display: none;
  }
}


.menu {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 
.menu li {
  margin-bottom: 10px;
}

.menu li:last-child {
  margin-bottom: 0;
} */



.home a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.nohome a{
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.right-icons {
  display: flex;
  align-items: center;
}

.right-icons button{
  background: transparent;
  border: none;
}

.nav-icon{
  color: #BFDAF7;
}

.right-icons *{
  margin: 0 5px;
  /* color: #BFDAF7; */
}

/* .right-icons:nth-child(2), .right-icons:nth-child(2){
  margin-left: 3px;
} */


.active1{
  font-weight:600;
  background:linear-gradient(180deg, #BFDAF7 0%, rgba(55, 57, 196, 0.393182) 93.23%, rgba(30, 26, 187, 0.28) 97.64%, rgba(230, 98, 98, 0) 100%);
  border-radius: 10px;
  padding:7px;
  padding-bottom: 11px;

}

/* .carousel-control-next{
  display:none;
}
.carousel-control-prev{
  display:none;
} */

/* .carousel-indicators{
  display:none;
} */

.right-icons i {
  font-size: 20px;
}


/* 
.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
} */

/* .carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

/* .carousel{
  border-radius: 20px;
  width: 100%;
} */


.hero .carousel-inner{
  height:100vh;
}


.slidercarousel .carousel-inner .carousel-item{
  height: 400px;
}

.slidercarousel .carousel-inner img{
  height: 100%;
  object-fit: contain;
}


.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.wrapper{
  display: flex;
}


@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu li {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .menu-toggle {
    display: none;
  }

  .right-icons a {
    margin-left: 40px;
  }
}

.posts{
  display:flex;
  justify-content: center;
}


.post{
  width: calc(2.78%*10);
  padding:20px;
  background-color: #BFDAF7;
  margin:10px;
  border-radius:20px
}

.imageconatiner{
  height:25vw;
  border-radius:20px;
  justify-content:'center';
}

.imagespec{
  width: 100%;
  height:100%;
  object-fit: cover;
}

.SpecCarousel{
  position:relative;
  width:100%;
}

.auth-form {
  position: relative;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}
.auth-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  /* border-radius: 30%; */
  margin: 0 0 13px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
}
.auth-form button, .custom-btn{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #BFDAF7;
  width: 100%;
  border: 0;
  padding: 13px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.auth-form button:hover,.auth-form button:active,.auth-form button:focus {
  background: #7cb7f6;
}
.auth-form .message {
  margin: 15px 0;
  color: #BFDAF7;
  font-size: 12px;
}
.auth-form .message a {
  color: #7cb7f6;
  text-decoration: none;
}
/* .auth-form .login-auth-form {
  display: none;
} */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.custom-modal {
  position: fixed;
  height: 800px;
  width: 400px;
  left: 1;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  border: none;
}

.custom-modal-header h1{
  display: inline;
  color: black;
  font-size: xx-large;
}
.custom-modal-header button{
  float: right;
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  padding-top: 9px;
  font-weight: 900;
}

.login-form .message, .login-form .message a{
  font-size: 1.5vh;
}


/* Loading spinner */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* prof-menu-dropdown-section */
.prof-menu-wrap{
  position: absolute;
  top: 100%;
  right: 1%;
  width: 320px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}

.prof-menu-wrap.open-prof-menu{
  max-height: 400px;
}

.prof-menu{
  background: #fff;
  padding: 20px;
  margin: 10px;
  margin-top: 0;
}

.prof-menu-user-info{
  display: flex;
  align-items: center;
}

.prof-menu-user-info h3{
  font-weight: 500;
  color: #000;
}


.prof-menu-user-info img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #000;
}

.prof-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}


.prof-menu-link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.prof-menu-link *{
  color: #000;
}

.prof-menu-link p{
  width: 100%;
  margin-bottom: 0;
  margin-left: 5px;
  color: #000;
}

.prof-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.prof-menu-link:hover span{
  transform: translateX(5px);
}

.prof-menu-link:hover p{
  font-weight: 550;
}

#prof-menu-btn{
  cursor: pointer;
}

#prof-menu-btn{
  margin-left: 20px;
}

.userPFP{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  background-color: #000;
}

.editProf{
  display: grid;
  place-items: center;
}

.ptr{
  cursor: pointer;
}

.pfp-label{
  margin-top: 10px;
}

.prof-input{
  display: inline;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #BFDAF7;
  width: 60vw;
  border: 0;
  margin: 0 0 13px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 14px;
}

.profile-form{
  margin-top: 50px;
  width: 80%;
}

.profile-form label{
  display: inline-block;
}

.prof-form-item{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  justify-content: space-between;
}

.profile-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #BFDAF7;
  width: 250px;
  border: 0;
  padding: 13px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 40%;
  margin-top: 50px;
}
.profile-form button:hover,.profile-form button:active,.profile-form button:focus {
  background: #7cb7f6;
}

/* Create event page */
.ce-main-div{
  margin-top: 20px;
  background-color: #ccc;
  padding: 20px;
}

.ce-main-div input{
  margin: 30px;
  padding: 5px;
  width: 300px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ce-btn{
  border: none;
  margin: 30px 45%;
  margin-left: 50%;
  margin-right: auto;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #7cb7f6;
}

.time input{
  margin: 30px 10px;
  width: 35px;
}

.time p{
  display: inline;
}

.ce-main-div textarea, .ce-file{
  margin: 30px;
  border: none;
}

.time{
  margin: 30px;
  margin-right: 30px;
  width: 200px;
}

.sub-events-list li::before{
  content: '❌ ';
  list-style: none;
  cursor: pointer;
}

.sub-events-list li{
  margin: 5px;
}

.sub-events-list{
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}